target*
metastore_db*
metastore_db/*
project*
project/*
derby.log
target/*
.bsp*
.bsp/*
.idea*
.idea/*
src/main/scala/Clover/data/files/ConsumedData/*
src/main/scala/Clover/data/files/BaseData/transactions.csv
